.footter{
    /* background-color: rgb(63, 63, 234);  */
    background-repeat: no-repeat;
    margin-top: 400px;
    /* background-color: aqua; */
    box-shadow: 4px 4px 6px 4px rgb(105, 74, 228);
    
    
    
}
