<hr/>
<hr/>
<mat-list class="footter">
    <mat-list-item mat-card-header  style="text-align: left;">Trung Tâm Thông Tin</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item mat-card-header style="text-align: left;">Trung tâm tin học code</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item mat-card-header style="text-align: left;">Địa chỉ công ty: số 458, phố Minh Khai, Phường Vĩnh Tuy, Quận Hai Bà Trưng, Thành phố Hà Nội, Việt Nam</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item mat-list-item style="text-align: left;">sdt:0000000000</mat-list-item>
</mat-list>