
<owl-carousel-o [options]="Trangchu" id= "carou">
    <ng-template carouselSlide class="backgroud">
      <img src="./assets/anh/anh1.jpg" width="300px" height="600px" alt="" >
    </ng-template>
        <ng-template carouselSlide class="backgroud">
    <img src="./assets/anh/anh2.jpg" width="900px"  height="600px" alt="" >
        </ng-template>
    <ng-template carouselSlide class="backgroud">
        <img src="./assets/anh/anh3.jpg" width="900px"  height="600px" alt="" >
    </ng-template>
    <ng-template carouselSlide class="backgroud">
        <img src="./assets/anh/anh4.jpg" width="900px"  height="600px" alt="" >
    </ng-template>
</owl-carousel-o>
<div>Some tags after</div> 